#bannerbox{width: 100%;}
#bannerbox .banner{
	margin: 0 auto;
	width: 1200px;
	height: 350px;
	background: #C4C4C4;
	position: relative;
}
#bannerbox .banner .integral{
	width: 100px;
	height: 330px;
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 100;
	background: rgba(0,0,0,.5);
    font: 14px/18px "microsoft yahei";
    color: #fff;
}
#bannerbox .banner .integral ul li{
	text-align: center;
	width: 80px;
	height: 83px;
	border-bottom: 1px solid #C3C2C1;
	margin: 0 auto;
}	
#bannerbox .banner .integral ul .li1 span{
	margin: 0 auto;
	margin-top: 18px;
	width: 50px;
	height: 50px;
	display: block;
	background: url(../img/sigin_info_icon_new.png) no-repeat;
}
#bannerbox .banner .integral ul .li2 span{
	margin: 0 auto;
	margin-top: 18px;
	width: 50px;
	height: 50px;
	display: block;
	background: url(../img/sigin_info_icon_new.png) no-repeat -66px 0;
}
#bannerbox .banner .integral ul li a{
	color: #fff;
	display: block;
	margin-top: 8px;
}
#bannerbox .banner .integral ul .li3{
	border: none;
}
#bannerbox .banner .integral ul .li3 a{
	margin-top: 5px;
	
}
#bannerbox .banner .ban-nav{
	float:left;
	background: #9B908E;
	width: 170px;
	height: 350px;
	position: relative;
	z-index: 5; 
}

/*隐藏 的 商品简介   左侧的导航*/
#bannerbox .banner .ban-nav .dress{
	display: none;
	position: absolute;
	left: 170px;
	top:0;
	width: 370px;
	height: 350px;
	background: #fff;
	z-index:10;
	padding-left:15px;
}
#bannerbox .banner .ban-nav .dress .left{
	float: left;
	width: 197px;
}
/*#bannerbox .banner .ban-nav .dress .left .top,.bottom, p{
	float: left;
	width: 196px;
	height: 33px;
	border-bottom:1px solid #E5E5E5;
	color: #333;
	font-size: 14px;
}*/
#bannerbox .banner .ban-nav .dress .left .top,.bottom ul{
	height: 175px;
	font-family: "microsoft yahei";
}

#bannerbox .banner .ban-nav .dress .left ul li{
	border-bottom: 0;
	color: #EC1611;
	font-size: 12px;
	float: left;
	margin-right: 10px;
	
}
#bannerbox .banner .ban-nav .dress .right{
	float:left;
	width:173px;	
}
#bannerbox .banner .ban-nav .dress .right img{
	margin: 12px auto;	
}








#bannerbox .banner .ban-nav ul>li{
	/*position: relative;*/
	height: 34px;
	border-bottom: 1px solid #AFAFAF;
	line-height: 34px;
	z-index: 5;                            /*z-index: */
}
#bannerbox .banner .ban-nav ul>li:hover{
	background: #333;
}
#bannerbox .banner .ban-nav ul li a{
	color: #fff;
	margin-left: 20px;
	cursor:pointer;
	font: 14px/34px "microsoft yahei";

}
#bannerbox .banner .ban-nav ul li span{
	float:right;
	color: #fff;
	margin-right: 20px;
	font: 14px/34px "microsoft yahei";
}
#bannerbox .banner .ban-nav ul .limit a{
	font-size:12px;
	margin-left: 10px;
}
/*---------------轮播图--------------*/
#bannerbox .banner .rotation{
	height: 350px;
	position: relative;
}
#bannerbox .banner .rotation .pic{
	position: relative;
	width: 1030px;
	height: 350px;
	float: left;
	overflow: hidden;
}
#bannerbox .banner .rotation .pic ul{
	width: 6180px;
	height: 350px;
	position: absolute;
}
#bannerbox .banner .rotation .pic ul li{
	float: left;
}
#bannerbox .banner .rotation ol{
	position: absolute;
	left: 600px;
	bottom:20px;
}
#bannerbox .banner .rotation ol li{
	float: left;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	margin-right: 20px;	
}
#bannerbox .banner .rotation ol .bianse{
	background: #EA0401;
}

/*品牌热卖*/
#Brandselling-box{
	background: #F5F5F5;
	width:100%;
	height: 348px;	
}
#Brandselling-box .Brandselling{
	width: 1200px;
	margin:0 auto;
}
#Brandselling-box .Brandselling .Br-top{
	height: 34px;
	padding: 20px 0 0 0;
	border-bottom: 1px solid #FF6767;
}
#Brandselling-box .Brandselling .Br-top h3{
	padding-right: 10px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #2f2f2f;
    line-height: 32px;
	font-weight: normal;
	float: left;
}
#Brandselling-box .Brandselling .Br-top span{
	font-size: 12px;
    color: #ff6767;
    font-family: "microsoft yahei";
    line-height: 34px;
}
#Brandselling-box .Brandselling .Br-top ul{
	line-height: 24px;
    float: right;
    margin-top: 5px;

}
#Brandselling-box .Brandselling .Br-top ul li{
	float: left;
	
}
#Brandselling-box .Brandselling .Br-top ul .last a{
	border-right: none;
}
#Brandselling-box .Brandselling .Br-top ul li a{
	display: block;
	font-size: 12px;
    font-family: "microsoft yahei";
    border-right: 1px solid #CCC;
    padding:0 9px;
    line-height: 13px;
    margin-top: 10px;

}
#Brandselling-box .Brandselling .br-show{
	padding:10px 0 10px;
}
#Brandselling-box .Brandselling .br-show img{
	float: left;
}

#Brandselling-box .Brandselling .br-show .mid{
	margin: 0 12px;
}
#Brandselling-box .Brandselling .br-pic{
	float: left;
	width: 1200px;
	height: 120px;
	margin-top: 10px;
}
#Brandselling-box .Brandselling .br-pic img{
	float: left;
}

/*------限量抢购---------*/
#Setlimit-box{
	background: #F5F5F5;
	width:100%;
	height: 310px;	
}
#Setlimit-box .Setlimit{
	width: 1200px;
	margin:0 auto;
}
#Setlimit-box .Setlimit .Br-top{
	height: 34px;
	padding: 20px 0 0 0;
	border-bottom: 1px solid #FF6767;
}
#Setlimit-box .Setlimit .Br-top h3{
	padding-right: 10px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #2f2f2f;
    line-height: 32px;
	font-weight: normal;
	float: left;
}
#Setlimit-box .Setlimit .Br-top span{
	font-size: 12px;
    color: #ff6767;
    font-family: "microsoft yahei";
    line-height: 34px;
}
#Setlimit-box .Setlimit .Br-top ul{
	line-height: 24px;
    float: right;
    margin-top: 5px;

}
#Setlimit-box .Setlimit .Br-top ul li{
	float: left;	
	height: 29px;

}
#Setlimit-box .Setlimit .Br-top ul li:hover{
	background: #FF6767;
		color: #fff;
}
#Setlimit-box .Setlimit .Br-top ul li:hover a{
	color: #fff;
}

#Setlimit-box .Setlimit .Br-top ul .last a{
	border-right: none;
}
#Setlimit-box .Setlimit .Br-top ul li a{
	display: block;
	font-size: 12px;
    font-family: "microsoft yahei";
    border-right: 1px solid #CCC;
    padding:0 9px;
    line-height: 13px;
    margin-top: 10px;
}

}
#Setlimit-box .Setlimit .br-show{
	padding:10px 0 10px;
}
#Setlimit-box .Setlimit .br-show dl{
	background:#fff;
	float: left;
	margin-right:6px;
	width: 195px;
	height: 245px;	
	margin-top: 10px;
}
#Setlimit-box .Setlimit .br-show .last{
	margin-right: 0;
}
	
#Setlimit-box .Setlimit .br-show dl dd{
	margin: 3px 0 0 10px;
    font: 12px/20px "microsoft yahei";
}
	
/*------热销推荐---------*/
#Recommend-box{
	background: #F5F5F5;
	width:100%;
	height: 206px;	
}
#Recommend-box .Recommend{
	width: 1200px;
	margin:0 auto;
}
#Recommend-box .Recommend .Br-top{
	height: 34px;
	padding: 30px 0 0 0;
	border-bottom: 1px solid #FF6767;
}
#Recommend-box .Recommend .Br-top h3{
	padding-right: 10px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #2f2f2f;
    line-height: 34px;
	font-weight: normal;
	float: left;
}

#Recommend-box .Recommend .Br-top ul{
	line-height: 24px;
    float: left;
    margin-top: 5px;

}
#Recommend-box .Recommend .Br-top ul li{
	float: left;	
	height: 29px;
}
#Recommend-box .Recommend .Br-top ul li:hover{
	background: #FF6767;
		color: #fff;
}
#Recommend-box .Recommend .Br-top ul li:hover a{
	color: #fff;
}

#Recommend-box .Recommend .Br-top ul .last a{
	border-right: none;
}
#Recommend-box .Recommend .Br-top ul li a{
	display: block;
	font-size: 12px;
    font-family: "microsoft yahei";
    border-right: 1px solid #CCC;
    padding:0 9px;
    line-height: 13px;
    margin-top: 10px;
}

}
#Recommend-box .Recommend .br-show{
	padding:10px 0 10px;
}
#Recommend-box .Recommend .br-show ul{
	background: violet;
	margin-top: 10px;
}
#Recommend-box .Recommend .br-show ul li{
	float: left;
	margin-right: 10px;
}
#Recommend-box .Recommend .br-show .last{
	margin-right: 0;
}
	
	
/*------今日已更新---------*/
#fangle-box{
	background: #F5F5F5;
	width:100%;
}
#fangle-box .fangle{
	width: 1200px;
	margin:0 auto;
	min-height:380px;
	height:auto!important;     
	background: #F5F5F5;  
	/*height:80px;*/
}
#fangle-box .fangle:after{content:".";display:block;height:0;clear:both;
overflow:hidden;visibility:hidden;
}
#fangle-box .fangle .Br-top{
	height: 34px;
	padding: 30px 0 0 0;
	border-bottom: 1px solid #FF6767;
	margin-bottom: 14px;
}
#fangle-box .fangle .Br-top h3{
	padding-right: 15px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #2f2f2f;
    line-height: 34px;
	font-weight: normal;
	float: left;
}
#fangle-box .fangle .Br-top span{
	display: inline-block;
	color: #ff6767;
    font-family: "microsoft yahei";
    font-size: 16px;
    font-weight: 900;
    margin-top: 6px;
}
#fangle-box .fangle .Br-top ul{
	line-height: 24px;
    float: right;
    margin-top: 5px;
	
}
#fangle-box .fangle .Br-top ul li{
	float: left;	
	height: 29px;
}
#fangle-box .fangle .Br-top ul li:hover{
	background: #FF6767;
		color: #fff;
}
#fangle-box .fangle .Br-top ul li:hover a{
	color: #fff;
}

#fangle-box .fangle .Br-top ul .last a{
	border-right: none;
}
#fangle-box .fangle .Br-top ul li a{
	display: block;
	font-size: 12px;
    font-family: "microsoft yahei";
    border-right: 1px solid #CCC;
    padding:0 9px;
    line-height: 13px;
    margin-top: 10px;
}
#fangle-box .fangle .br-show dl{
	background: #fff;
	width: 283px;
	height: 348px;
	float: left;
	margin: 0 20px 30px 0;	
	border:1px solid #fff;
}
#fangle-box .fangle .br-show dl:hover{
	border: 1px solid #FF6767;
}
#fangle-box .fangle .br-show dl dt img{
	margin: 0 auto;
	width: 283px;
	height: 283px;
}
#fangle-box .fangle .br-show .dl1 img{
	width: 283px;
	height: 348px;
}
#fangle-box .fangle .br-show .dl4{
	margin-right: 0;
}	
#fangle-box .fangle .br-show dl dd{
	font-family:"microsoft yahei";
	
	line-height: 32px;
	margin-left: 14px;
}
#fangle-box .fangle .br-show dl dd span{
	font-size: 12px;
	float: right;	
	color: #999999;
	margin-right: 12px;
}
#fangle-box .fangle .br-show dl .dd1{
	font-size: 12px;	
	color: #666;
}
#fangle-box .fangle .br-show dl .dd2{
	font-size: 16px;	
	color: #ec1611;
}
#fangle-box .fangle .br-show dl .dd2 span{
	background: url(../img/big_bg_img_v3.png) no-repeat  -493px -56px;
	padding-left: 18px;
	font: 12px/30px "microsoft yahei";
}


